/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1e3a8a; /* Deep Blue */
  --ifm-color-primary-dark: #1c3579;
  --ifm-color-primary-darker: #1a306f;
  --ifm-color-primary-darkest: #152759;
  --ifm-color-primary-light: #2f4ba0;
  --ifm-color-primary-lighter: #3552a9;
  --ifm-color-primary-lightest: #4a6bbf;
  --ifm-code-font-size: 95%;
}

.hero--primary {
  background: linear-gradient(45deg, #1e3a8a, #3b82f6);
  animation: gradient 5s ease-in-out infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero__title {
  animation: fadeInDown 1s;
}

.hero__subtitle, .hero__intro {
  animation: fadeInUp 1s;
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

